*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

body::before{
    background-image: url("/img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container{
    width: 800px;
    height: 600px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url();
    background-size: 100% 100%;
    position: relative;
    margin-left: 5%;
}

.cotainer_content{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container_information{
    flex: 1;
    padding: 3rem;
}

.container_button{
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

button:disabled{
    background-color: gray;
}
.container_text{
    margin: 16px 0 16px 0;
}
.container_text_blue{
    color: #1875E8;
}

.container_input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter',sans-serif;
}

.container_buttons{
    display: flex;
    gap: 2em;
}

.container_left{
    background-position: left;
    width: 60%;
    height: 700px;
    display: inline-block;
}

.sideImage{
    margin-left: 2%;
    width: 40%;
    height: 55vh;
}
.sideImage_image{
    width: 100%;
    height: 40vh;
    margin-top: 60px;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding: 0rem;
}

p,
button{
    font-family: 'Inter', sans-serif;
}

.text_paragraph{
    font-size: 32px;
    font-weight: 400;
}
.text_life{
    font-size: 32px;
}
